html, body, #themap, #testdata {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}   

#themap {
    background:#ccc;
}

body,
h1, h2, h3, h4, h5, h6 {
   font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
   /* font-weight: 700; */
}

a { font-weight: bold; text-decoration: none; }
a:link    { color:#f00; }
a:visited { color:#f00; }
a:hover   { color:#f0c; }
a:active  { color:#c0f; }

.legend  { font-weight: 700; }
.legend2 { font-weight: 500; color:#999; }


#header {
    padding: 11px;
    width:100%;
}

.panel-corner { position: absolute; z-index: 900; }
.panel-upper { position: absolute; z-index: 900; }
.panel-lower { position: absolute; z-index: 900; }
.panel-popup { position: absolute; z-index: 900; }

.panel-upper { 
    padding-left: 10px; 
    padding-right: 10px; 
    width: 380px;
    top: 89px;
    left: 0px;
    font-size: 12px;
    background: white; 
}

#panel-search {
    padding-top: 6px;
    padding-left: 10px;
    top: 41px;
    left: 0px;
    width: 390px;
    height: 44px;
    background: #eee;
}

#panel-message {
    height: 110px;
}

#panel-error {
    height: 110px;
    display: none;
}

#panel-summary { display: none; }
.section { 
    display: none; 
    background: #eee;
}

.panel-lower {
    padding: 2px;
    left: 0px;
    bottom: 0px;
    height: 180px; 
    width: 950px; 
    font-size: 12px;
    background: white; 
    display: none;
}

#popup-almost {
    height: 250px; 
    width: 600px; 
    left: 300px;
    bottom:300px;
    font-size: 12px;
    background: white; 
    display: none;
}

#address-input {
    width: 250px;
    height: 26px;
    line-height: 1;
}

#address-submit {
    font-size: 14px;
    line-height: 1;
    height: 30px;
}

.popup-control {
    position:absolute; 
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    top: 0px;
    right: 0px;
    background: #ffd;
    font-size: 14px;
}


table.boring {
  border: 1px solid #f00;
  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px; 
  background: #edb;
  layout:auto; 
}

th.boring{
  text-align: left;
}

td.boring {
  margin-left: 2px;
  margin-right: 2px;
  background: #feb;
}

table.nifty {
  border: 1px solid #ddd;
  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 2px;
  padding-right: 2px;
  font-size: 12px; 
  background: #eee;
  layout:auto; 
}

p.errorbox {
  border: 2px solid;
  border-color: #fb0;
  font-size: 14px; 
  font-weight: bold;
  background: #ffb;
  padding: 4px;
  color: #f00;
  word-wrap: break-word;
}  

#testdata  {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#form-nychpd { position:relative; display:inline; }

#switch-view-multi-bldg { display:none }
